.pdf-editor {
    display: flex;
    padding-left: 40px;
    position: relative;

    .on-real-time-displayer {
        pointer-events: none;
        position: absolute;
        top: 0;
    }
}

.textLayer :is(span, br) {
    cursor: inherit;
}
