.note {
    background-color: var(--clr-bg-light);
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-default) var(--clr-txt-04);
    display: flex;
    flex-direction: column;
    gap: var(--space-xh);
    margin-inline: auto;
    max-width: var(--size-section);
    padding: var(--space-m) var(--space-l);
    transition: background-color var(--transition-theme);
    width: 100%;

    &-group {
        &__color {
            border-radius: var(--radius-round);
            height: var(--size-xl);
            width: var(--size-xl);
        }
        &__content {
            display: flex;
            flex-direction: column;
            gap: var(--space-l);
            padding: var(--space-h) calc(var(--space-xh) + (var(--space-h)));
            position: relative;
        }
        &__title {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: var(--space-m);
        }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        position: relative;

        &-buttons {
            display: flex;
            gap: var(--space-m);
            > svg {
                cursor: pointer;
            }
        }
    }
    &-input-container {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);

        textarea {
            font-family: --font-default;
            min-height: 80px;
            padding: var(--space-s) var(--space-m);
        }
    }

    .color-indicator {
        border-radius: var(--radius-round);
        height: 16px;
        width: 16px;
    }

    a {
        align-items: center;
        display: flex;
        gap: var(--space-s);
        text-decoration: underline;
    }
    em {
        margin-block: var(--space-l);
        margin-inline: auto;
        text-align: center;
        width: 75%;
    }
    p {
        margin-inline: var(--space-xl);
    }
}

.notes {
    display: flex;
    flex-direction: column;

    &-header {
        align-items: center;
        display: flex;
        gap: var(--space-s);
    }

    .message-container {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}
