.folder-dropzone {
    display: flex;
    flex: 1;
    height: 100%;
    transition:
        background-color var(--transition-theme),
        color var(--transition-theme);
    width: 100%;

    &.dragged {
        background-color: var(--clr-txt-04);
        color: var(--clr-bg-light);
    }
}
