.pdf-loader-container {
    align-items: center;
    background-color: var(--clr-bg-light);
    display: flex;
	flex: 1;
	height: calc(100% + var(--space-m));
    justify-content: center;
	left: calc(0px - var(--space-m));
    position: absolute;
	top: calc(0px - var(--space-m));
    transition: background-color var(--transition-theme);
    width: calc(100% + var(--space-m));
    z-index: 100;
}
