@font-face {
    font-family: "--font-default";
    src: local("Montserrat-Regular"),
        url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "--font-title";
    src: local("PoiretOne-Regular"),
        url("../assets/fonts/PoiretOne-Regular.ttf");
}

#root {
    height: 100%;
}
