:root {
    //=====================
    //=       BLURS       =
    //=====================
    --blur-modal:      4px;
    //=====================
    //=   BORDER WIDTHS   =
    //=====================
    --border-s:        1px;
    --border-m:        2px;
    --border-l:        4px;

    //=====================
    //=       COLORS      =
    //=====================
    --clr-bg:                  rgb(238,240,242);
    --clr-bg-01:          rgba(238,240,242,0.1);
    --clr-bg-06:          rgba(238,240,242,0.6);

    --clr-bg-dark:           rgb(208, 208, 208);
    --clr-bg-light:            rgb(255,255,255);
    --clr-bg-light-05: rgba(255, 255, 255, 0.5);
    --clr-txt:                       rgb(0,0,0);
    --clr-txt-06:              rgba(0,0,0, 0.6);
    --clr-txt-04:               rgba(0,0,0,0.4);
    --clr-txt-02:               rgba(0,0,0,0.2);
    --clr-txt-01:               rgba(0,0,0,0.1);

    //=====================
    //=   BORDER RADIUS   =
    //=====================
    --radius-s:        0.25rem;
    --radius-m:         0.5rem;
    --radius-l:           1rem;
    --radius-round:      500px;

    //=================
    //=     SIZES     =
    //=================
    --size-s:     12px;
    --size-m:     16px;
    --size-l:     24px;
    --size-xl:    32px;
    --size-title: 48px;

    //=================
    //=     SPACES    =
    //=================
    --space-none:  0px;
    --space-xxs:   1px;
    --space-xs:    2px;
    --space-s:     4px;
    --space-m:     8px;
    --space-l:    12px;
    --space-xl:   16px;
    --space-h:    20px;
    --space-xh:   24px;
    --space-giga: 28px;

    // =================
    // =  TRANSITIONS  =
    // =================
    --transition-hover: 0.2s;
    --transition-theme: 0.4s;
    --transition-appear: 0.6s;
}

[data-theme="dark"] {
    --clr-bg:                rgb(0, 28, 52);
    --clr-bg-01:        rgba(0, 28, 52,0.1);
    --clr-bg-06:        rgba(0, 28, 52,0.6);

    --clr-bg-dark:           rgb(1, 22, 42);
    --clr-bg-light:          rgb(1, 33, 61);
    --clr-bg-light-05: rgba(1, 33, 61, 0.5);

    --clr-txt:             rgb(238,240,242);
    --clr-txt-06:    rgba(255,255,255, 0.6);
    --clr-txt-04:     rgba(255,255,255,0.4);
    --clr-txt-02:     rgba(255,255,255,0.2);
    --clr-txt-01:     rgba(255,255,255,0.1);
}
