.pdf-loader-container {
    align-items: center;
    background-color: var(--clr-bg-light);
    display: flex;
    flex: 1;
    // Space of the component on top
    height: calc(100vh - 128px);
    justify-content: center;
    position: absolute;
    transition: background-color var(--transition-theme);
    width: 100%;
}
