.pdf-editor {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    .on-real-time-displayer {
        pointer-events: none;
        position: absolute;
        top: 0;
    }
    .loader-container {
        align-items: center;
        background-color: var(--clr-bg-light);
        display: flex;
        flex: 1;
        // Space of the component on top
        height: calc(100vh - 128px);
        justify-content: center;
        position: absolute;
        width: 100%;
    }
    .note-ref-overlay {
        position: absolute;
        cursor: pointer;
        z-index: 10;
        &.hovered {
            background-color: var(--clr-txt-interactive);
        }
    }
    .page-container {
        border: var(--border-s) solid var(--clr-txt-01);
        margin: auto;
        position: relative;
        // pdf min-width + (2*border)
        width: 597px;

        &.brushing * {
            user-select: none;
        }
    }
}

.textLayer :is(span, br) {
    cursor: inherit;
}
