.style-less {
    background-color: transparent;
    border: none;
    color: var(--clr-txt);
    position: relative;

    transition: color var(--transition-theme);

    &:focus {
        outline: none;
    }
}
