.pdf-editor {
    display: flex;
    flex: 1;
    overflow-y: auto;
    padding-left: 70px;
    position: relative;

   	&__canvas {
		margin-top: var(--space-s);
        pointer-events: none;
        position: absolute;
        top: 0;
    }

    &-container {
        display: flex;
        flex: 1;
        padding: var(--space-m);
    }
}

.textLayer :is(span, br) {
    cursor: inherit;
}
