.home {
	overflow: hidden;

	&__section-header {
		padding-block: var(--space-giga);
		position: relative;

		&::after {
			background-color: var(--clr-txt-02);
			bottom: 0;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}

	
	.tabs {
		width: 100%;

		&__viewport {
			width: 100%;
		}
	}
}
