.pdf {

    &-document {
        border: var(--border-s) solid var(--clr-txt-01);
        box-shadow: var(--shadow-default) var(--clr-txt-04);
        position: relative;
        // pdf min-width + (2*border)
        width: 597px;
    }
    &-page.tooling *::selection {
        background-color: transparent;
    }
}
