.accordion {
    &-item {
        border-bottom-width: 0px;
        overflow: hidden;

        &:first-child {
            border-top-left-radius: var(--radius-s);
            border-top-right-radius: var(--radius-s);
        }
        &:last-child {
            border-bottom-left-radius: var(--radius-s);
            border-bottom-right-radius: var(--radius-s);
            border-bottom-width: var(--border-s);
            margin-bottom: var(--space-m);
        }
		
        &__content {
			overflow: hidden;
			
            &-wrapper {
				display: grid;
                grid-template-rows: 0fr;
				position: relative;
                transition: grid-template-rows var(--transition-onClick) ease-out;
				
				&::after {
					background-color: var(--clr-txt-04);
					content: "";
					height: var(--border-s);
					left: 0;
					position: absolute;
					top: 0;
					transform: scaleX(0);
					transition: background-color var(--transition-theme), transform var(--transition-onClick);
					width: 100%;
				}
                &.expanded {
					grid-template-rows: 1fr;

					&::after {
						transform: scaleX(1);
					}
                }
            }

        }
        &__header {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: var(--space-m) var(--space-l);
            position: relative;
            z-index: 1;

            &.closed {
                > svg {
                    transform: rotate(180deg);
                }
            }

            svg {
                transition: var(--transition-onClick);
            }
        }
    }
}
