.folders-explorer {
    border-right: var(--border-s) solid var(--clr-txt-02);
    overflow-y: auto;
    width: 30%;

    &__header {
        align-items: center;
        background-color: var(--clr-txt-02);
        display: flex;
        gap: var(--space-m);
        justify-content: end;
        padding: var(--space-m);
        padding-right: var(--space-m);
        transition: var(--transition-theme);

        input {
            min-width: 0px;
            width: 100%;
        }
        svg {
            flex-shrink: 0;
        }
    }
    &__item {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: var(--space-s);
        padding: var(--space-xs) var(--space-s);
        transition: var(--transition-hover) ease-in-out;

        &:hover {
            background-color: var(--clr-txt-01);
        }
        input {
            font-family: "--font-default";
        }
        svg {
            flex-shrink: 0;
        }
        &.folder {
            font-weight: 600;
        }
        &.selected {
            background-color: var(--clr-txt-04);
            color: var(--clr-bg-light);
        }
    }
}
