.prepare {
    flex: 1;
    gap: var(--space-l);
    padding: var(--space-xl) var(--space-l) 0;

    section {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }
}
