.prepare {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-l);
    padding: var(--space-xl) var(--space-l);
    h1 {
        margin-bottom: var(--space-m);
    }

    &-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .field {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
        max-width: 600px;
    }
    .work-languages {
        &__list {
            display: flex;
            gap: var(--space-m);
        }

        .work-language {
            align-items: center;
            background-color: var(--clr-bg);
            border: var(--border-s) solid var(--clr-txt-01);
            border-radius: var(--radius-round);
            cursor: pointer;
            display: flex;
            gap: var(--space-m);
            padding: var(--space-s) var(--space-m);

            &.selected {
                background-color: var(--clr-txt);
                color: var(--clr-bg);
            }
        }
    }
}
