select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-color: var(--clr-bg-dark);
    border: none;
    border-radius: var(--radius-round);
    box-shadow: inset 0 1px 7px var(--clr-txt--primary-01),
                inset 0 4px 4px var(--clr-txt--primary-01),
                inset 0 -1px 1px var(--clr-txt--primary-01);
    color: var(--clr-txt--primary);
    padding-block: var(--space-s);
    padding-left: var(--space-l);
    padding-right: var(--space-xh);
    transition: var(--transition-theme);
    &:focus {
        outline: none;
    }
}

.select-container {
    align-items: center;
    display: flex; 
    position: relative; 
    svg {
        position: absolute;
        right: var(--space-l);
        transform: translateX(40%);
    }
}
