.header-preparation-data {
	align-items: center;
	display: flex;
	gap: var(--space-m);
	
	input {
		font-size: var(--size-m);
		font-weight: 500;
	}
}
.preparation {
    &-folders {
        height: 100%;
    }
    &-header {
        align-items: center;
        display: flex;
        gap: var(--space-m);
        padding-inline: var(--space-l);

        .button {
            align-items: center;
            display: flex;
            gap: var(--space-m);
            min-width: 200px;
        }
    }
    &-tabs-view {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 0;
        min-width: 0;
        position: relative;
		width: 100%;

        .tabs__tabbar {
			padding-top: 0;
            position: relative;

            &::after {
                background-color: var(--clr-txt-01);
                bottom: 0;
                content: "";
                height: var(--border-s);
                left: 10%;
                position: absolute;
                transition: background-color var(--transition-theme);
                width: 80%;
            }
        }
    }
    &-vocabulary {
        height: 100%;
        position: relative;
    }
}
