.prepare {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-l);
    padding: var(--space-xl) var(--space-xh);
    > div {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
    }

    .work-languages {
        &__list {
            display: flex;
            gap: var(--space-m);
        }
        
        .work-language {
            align-items: center;
            background-color: var(--clr-bg);
            border: var(--border-s) solid var(--clr-txt-01);
            border-radius: var(--radius-round);
            display: flex;
            gap: var(--space-m);
            padding: var(--space-s) var(--space-m);
            
            svg {
                cursor: pointer;
            }
        }
    }
}
