.prepare {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--space-l);
    padding: var(--space-xl) var(--space-xh);
    > div {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
    }
}
