.preparations {
    &-list {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        padding: 0 var(--space-l);
        width: 100%;
        .accordion-item {
            border-radius: var(--radius-s);
            box-shadow: var(--shadow-default) var(--clr-txt-02);
            cursor: pointer;
            padding: var(--space-l) var(--space-xl);
            width: 100%;
        }
    }
}

.preparation {
    &-content {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        padding-top: var(--space-l);
    }
    &-stats {
        list-style: disc;
        margin-left: var(--space-xl);
    }
}
