.folder-dropzone {
    align-items: center;
    border: 1px solid var(--clr-txt-04);
    border-radius: 4;
    color: var(--clr-txt-04);
    display: flex;
    justify-content: center;
    min-height: 120px;
    width: 100%;
}
