.workspace {
    --app-name: clamp(48px, 3vw, 80px);
    --img-container-size: 80vw;
    --img-size: 100vw;
    --subtitle: clamp(20px, 1.25vw, 36px);
    --title: clamp(40px, 2.5vw, 72px);

    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    padding-top: 15vh;
    position: relative;
    width: 100%;

    button {
        width: 500px;
    }

    &-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--space-h);
        margin-top: var(--space-xh);
        width: 100%;
    }
    &-create-title {
        font-size: var(--subtitle);
        font-weight: 500;
        margin-bottom: var(--space-xl);
    }
    &-fields {
        display: flex;
        flex-direction: column;
        gap: var(--space-l);
        justify-content: center;
    }
    &-header {
        display: flex;
        flex-direction: column;
        gap: var(--space-l);
        margin-bottom: var(--space-l);
        width: 100%;
    }
    &-layout {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--space-xh);
        min-height: 300px;
        min-width: var(--size-section);
    }
    &-subtitle {
        font-size: var(--subtitle);
    }
    &-title {
        font-size: var(--title);

        span {
            font-family: --font-title;
            font-size: var(--app-name);
            margin-left: var(--size-s);
            position: relative;
        }
    }

    .image-container {
        align-items: center;
        border-radius: calc(var(--img-container-size)/2);
        bottom: 0;
        display: flex;
        justify-content: center;
        height: var(--img-container-size);
        overflow: hidden;
        position: absolute;
        right: 0;
        transform: translate(calc(var(--img-container-size)/2), calc(var(--img-container-size)/2));
        width: var(--img-container-size);

        img {
            height: var(--img-size);
            object-fit: contain;
            transform: translate(-25vw, -10vw);
            width: var(--img-size);
        }
    }
    .select-container {
        width: 100%;
    }
    .step {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: var(--transition-appear) ease-out;
        &.active {
            opacity: 1;
            pointer-events: all;
            position: relative;
        }
    }
    .work-languages {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--space-l);

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-m);
            justify-content: center;
            max-width: 540px;

            &.active .work-language {
                cursor: pointer;
            }
            .work-language {
                align-items: center;
                background-color: var(--clr-bg);
                border: var(--border-s) solid var(--clr-txt-01);
                border-radius: var(--radius-round);
                display: flex;
                gap: var(--space-m);
                padding: var(--space-s) var(--space-m);
                transition: var(--transition-theme);

                &.selected {
                    background-color: var(--clr-txt);
                    color: var(--clr-bg);
                }

                svg {
                    cursor: pointer;
                }
            }
        }
    }
}
