.vocabulary-table {
    &-filter {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        padding: var(--space-m);
        position: relative;
        &-column {
            align-items: center;
            border: var(--border-s) solid var(--clr-disabled);
            border-radius: var(--radius-round);
            color: var(--clr-disabled);
            display: flex;
            justify-content: center;
            padding: var(--space-s) var(--space-m);
            transition: var(--transition-theme);

            &.selected {
                background-color: var(--clr-txt);
                color: var(--clr-bg-light);
            }
        }
        &-container {
            overflow: hidden;
            transition: var(--transition-hover) ease-in-out;
        }
        &-columns {
            display: flex;
            flex-wrap: nowrap;
            gap: var(--space-s);
        }
        &-header {
            display: flex;
            flex-direction: column;
            gap: var(--space-s);

            p {
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    &-tool {
        align-items: center;
        background-color: var(--clr-bg-light);
        border-radius: var(--radius-round);
        display: flex;
        height: 40px;
        justify-content: center;
        position: relative;
        transition: var(--transition-hover);
        width: 40px;

        &:disabled {
            background-color: var(--clr-txt-02);
            color: var(--clr-bg-light);
            cursor: not-allowed;
        }
        &.selected,
        &:not(:disabled):hover {
            background-color: var(--clr-txt-04);
            color: var(--clr-bg-light);
        }
    }
    &-tools {
        display: flex;
        gap: var(--space-m);
        padding: var(--space-m);
        &.column {
            flex-direction: column;
            justify-content: center;

            &.left button:not(:disabled):hover {
                transform: translateX(10%) scale(1.05);
            }
            &.right button:not(:disabled):hover {
                transform: translateX(-10%) scale(1.05);
            }
        }
        &.row {
            flex-direction: row;

            &.bot button:not(:disabled):hover {
                transform: translateY(-10%) scale(1.05);
            }
            &.top button:not(:disabled):hover {
                transform: translateY(10%) scale(1.05);
            }
        }

        &-container {
            display: flex;
            &.column {
                flex-direction: row;

                .vocabulary-table-filter-container {
                    max-width: 0;

                    &.expanded {
                        max-width: 700px;
                    }
                }
            }
            &.row {
                flex-direction: column;

                .vocabulary-table-filter-container {
                    max-height: 0;
                    max-width: 111px;

                    &.expanded {
                        max-height: 700px;
                        max-width: 700px;
                    }
                }
            }
        }
    }
}
