
.loader {
    --clr-anim: var(--clr-txt);
    --loader-width: 80px;
    --border-width: calc(var(--loader-width)/8);
    --radial-value: calc(var(--loader-width)/4);
    --conic-value: calc(var(--loader-width)/2);
    --blur-value: calc(var(--loader-width)/40);
    --padding-value: calc(var(--loader-width)/ 16);

    &.onBackground {
        --clr-anim: var(--clr-bg);
    }
    &.disabled {
        --blur-value: 0.5px;
    }

    animation: loader 2s infinite;
    aspect-ratio: 1;
    background:
        radial-gradient(farthest-side, var(--clr-anim) 98%,transparent) 0 0/var(--radial-value) var(--radial-value) no-repeat,
        conic-gradient(from 90deg at var(--border-width) var(--border-width),transparent 90deg, var(--clr-anim) 0) content-box,
        conic-gradient(from -90deg at var(--conic-value) var(--conic-value), transparent 90deg, var(--clr-anim) 0) content-box,
        transparent;
    border: var(--border-width) solid transparent;
    box-sizing: border-box;
    filter: blur(1px) contrast(10);
    padding: var(--padding-value);
    width: var(--loader-width);

    &-container {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }
}
@keyframes loader {
    0%   { background-position:0 0 }
    25%  { background-position:100% 0 }
    50%  { background-position:100% 100% }
    75%  { background-position:0% 100% }
    100% { background-position:0% 0 }
}
