.preparations {
    &-filled {
        display: flex;
        height: 100%;
        width: 100%;
    }
    &-list-container {
        align-items: center;
        display: flex;
        flex-direction: column;

        button {
            width: 300px;
        }
    }
    &-viewport {
        display: flex;
        flex: 1;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        > div {
            height: 100%;
            min-width: 100%;
            padding-top: var(--space-l);
        }
    }
}
