.color-panel {
    border: var(--border-s) solid var(--clr-txt-01);
    padding: var(--space-l);

    &__missing {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--space-l);
        p {
            padding-block: var(--space-l);
        }
    }
}
