.vocabulary-table__link {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: var(--space-m);
    padding-inline: var(--space-s);

    em {
        overflow: hidden;
        padding-right: var(--space-s);
        text-overflow: ellipsis;
    }
    svg {
        flex-shrink: 0;
    }
}
