.tabs {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;

    &__panel {
        flex: 0 0 100%;
        min-height: 1px;
        overflow-x: auto;
        scroll-snap-align: start;
    }
    &__tab {
        appearance: none;
        background: transparent;
        border: 0;
        box-shadow: var(--shadow-default) var(--clr-txt-02);
        color: var(--clr-txt);
        cursor: pointer;
        flex: 1;
        padding: var(--space-m) var(--space-xl);
        transition:
            background var(--transition-hover),
            color var(--transition-theme);
        white-space: nowrap;

        &:hover {
            background: var(--clr-txt-02);
        }

        &.is-active {
            background: var(--clr-txt-06);
            color: var(--clr-bg);
        }
    }
    &__tabbar {
        align-items: center;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: var(--space-l);
    }
    &__track {
        display: flex;
        height: 100%;
        min-width: 100%;
    }
    &__viewport {
        height: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
}
