.vocabulary-table {
    height: 100%;
    position: relative;

    &-cell {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--space-s);
        justify-content: center;
        padding: var(--space-xl) var(--space-m);

        &.head-cell {
            align-items: flex-end;
            color: var(--clr-txt-04);
            padding: 0;
            transition: var(--transition-theme);
            &.focused {
                color: var(--clr-txt);
            }

            p {
                margin: auto;
                padding: var(--space-m);
            }
        }

        a {
            align-items: center;
            display: flex;
            gap: var(--space-s);
        }
        button {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        input {
            padding: var(--space-s) var(--space-m);
            width: 100%;
        }
    }
    &-download {
        align-items: center;
        background-color: var(--clr-txt);
        border-radius: var(--radius-s);
        color: var(--clr-bg-light);
        display: flex;
        font-size: var(--size-s);
        font-weight: 500;
        gap: var(--space-m);
        letter-spacing: 1px;
        padding: var(--space-m) var(--space-xl);

        &:disabled {
            background-color: var(--clr-txt-04);
        }
    }
    &-row {
        display: flex;
        transition: var(--transition-theme);
    }

    th:not(:last-child)::after {
        background-color: var(--clr-txt-02);
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: var(--border-s);
    }
}
