.file-displayer {
    flex: 1;
    overflow-y: auto;
    padding: var(--space-m);
    position: relative;

    .unsupported-file {
        background: var(--clr-txt-04);
        border-radius: var(--radius-s);
        padding: var(--space-m);
        white-space: pre-wrap;
    }
    .unselected-file {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
    }
}
